<div data-role="page">

<script type="text/javascript">

var myScroll;
function loaded() {
	myScroll = new iScroll('wrapper', { scrollbarClass: 'myScrollbar' });
}

document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);

document.addEventListener('DOMContentLoaded', loaded, false);

</script>

<style type="text/css" media="all">




#wrapper {
	position:absolute; z-index:1;
	top:45px; bottom:48px; left:0;
	width:100%;
	background:#aaa;
	overflow:auto;
	height: 250px;
}

#scroller {
	position:relative;
/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);

	float:left;
	width:100%;
	padding:0;
}

</style>

<div data-role="header" data-position="fixed">
            <h1>Fixed header</h1>
</div>

<div id="wrapper">
	<div id="scroller">
		<table style="width: 50%; font-size: 11px;">
            <tr>
              <td colspan="8">
                <canvas id="myCanvas-top" style="width: 100%;"  height="40"></canvas>
              </td>
            </tr>
            <tr>
              <td colspan="7">17.11.11 15:48</td>
              <td style="float:right;">1</td>
            </tr>
            <tr>
              <td colspan="6" style="padding-bottom: 30px;">9992 000000 01</td>
              <td style="padding-bottom: 30px;">Trans.</td>
              <td style="padding-bottom: 30px; float:right;">56</td>
            </tr>    
            <tr>
              <td >T</td>
              <td >S</td>
              <td >IVA</td>
              <td >P</td>
              <td >UN</td>
              <td >PREZZO</td>
              <td >TOT.</td>
              <td style="float:right;">o</td>
            </tr>
            <tr>
              <td >-</td>
              <td >-</td>
              <td >- - -</td>
              <td >-</td>
              <td >- - -</td>
              <td >- - - - - -</td>
              <td >- - - - - - -</td>
              <td style="float:right;">- - - - - - </td>
            </tr>
            <tr>
              <td style="border-top: 1px solid #DFE7EB;">T</td>
              <td style="border-top: 1px solid #DFE7EB;">S</td>
              <td style="border-top: 1px solid #DFE7EB;">2100</td>
              <td style="border-top: 1px solid #DFE7EB;">T</td>
              <td style="border-top: 1px solid #DFE7EB;">1</td>
              <td style="border-top: 1px solid #DFE7EB;">10,00</td>
              <td style="border-top: 1px solid #DFE7EB;"></td>
              <td style="border-top: 1px solid #DFE7EB;float:right;">10,00 v</td>
            </tr>
            <tr>
              <td colspan="5" style="padding-bottom: 10px;">0000000000000</td>
              <td colspan="3" style="padding-bottom: 10px;">Indumenti</td>
            </tr>
			<tr>
              <td style="border-top: 1px solid #DFE7EB;">T</td>
              <td style="border-top: 1px solid #DFE7EB;">S</td>
              <td style="border-top: 1px solid #DFE7EB;">2100</td>
              <td style="border-top: 1px solid #DFE7EB;">T</td>
              <td style="border-top: 1px solid #DFE7EB;">1</td>
              <td style="border-top: 1px solid #DFE7EB;">10,00</td>
              <td style="border-top: 1px solid #DFE7EB;"></td>
              <td style="border-top: 1px solid #DFE7EB;float:right;">10,00 v</td>
            </tr>
            <tr>
              <td colspan="5" style="padding-bottom: 10px;">0000000000000</td>
              <td colspan="3" style="padding-bottom: 10px;">Indumenti</td>
            </tr>
			<tr>
              <td style="border-top: 1px solid #DFE7EB;">T</td>
              <td style="border-top: 1px solid #DFE7EB;">S</td>
              <td style="border-top: 1px solid #DFE7EB;">2100</td>
              <td style="border-top: 1px solid #DFE7EB;">T</td>
              <td style="border-top: 1px solid #DFE7EB;">1</td>
              <td style="border-top: 1px solid #DFE7EB;">10,00</td>
              <td style="border-top: 1px solid #DFE7EB;"></td>
              <td style="border-top: 1px solid #DFE7EB;float:right;">10,00 v</td>
            </tr>
            <tr>
              <td colspan="5" style="padding-bottom: 10px;">0000000000000</td>
              <td colspan="3" style="padding-bottom: 10px;">Indumenti</td>
            </tr>
			<tr>
              <td style="border-top: 1px solid #DFE7EB;">T</td>
              <td style="border-top: 1px solid #DFE7EB;">S</td>
              <td style="border-top: 1px solid #DFE7EB;">2100</td>
              <td style="border-top: 1px solid #DFE7EB;">T</td>
              <td style="border-top: 1px solid #DFE7EB;">1</td>
              <td style="border-top: 1px solid #DFE7EB;">10,00</td>
              <td style="border-top: 1px solid #DFE7EB;"></td>
              <td style="border-top: 1px solid #DFE7EB;float:right;">10,00 v</td>
            </tr>
            <tr>
              <td colspan="5" style="padding-bottom: 10px;">0000000000000</td>
              <td colspan="3" style="padding-bottom: 10px;">Indumenti</td>
            </tr>
            <tr>
              <td>T</td>
              <td>N</td>
              <td>2100</td>
              <td>P</td>
              <td>1</td>
              <td>20,00</td>
              <td></td>
              <td style="float:right;">20,00 v</td>
            </tr>
            <tr >
              <td colspan="5">2000000000000</td>
              <td colspan="3">Profumeria</td>
            </tr>
            <tr>
              <td colspan="8">
                
              </td>
            </tr>
          </table>
	</div>
</div>






<div data-role="footer" data-position="fixed">
	<h1>Fixed Footer</h1>
</div>


</div>